@font-face{
    font-family:'Gotham';
    src:url('Gotham-XLight.otf') format('opentype');
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    width:100vw;
    height:100vh;
    overflow:hidden;
    background:#000000;
    color:white;

    font-family:'Gotham', Arial, sans-serif;

    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}

.container{
    width:100%;
    height:100%;

    display:flex;

    justify-content:space-between;
    align-items:center;

    padding-left:8vw;
    padding-right:8vw;
}

.left{
    width:40%;
}

.logo{
    width:70%;
    max-width:520px;
}

.right{
    width:50%;
    text-align:right;
}

#clock{
    font-size:10vw;
    font-weight:100;
    letter-spacing:2px;
    line-height:1;
}

#date{
    margin-top:25px;

    font-size:1.2vw;

    letter-spacing:10px;

    opacity:0.65;
}

.line{

    margin-top:35px;

    margin-left:auto;

    width:38%;

    height:1px;

    background:#7a0015;

    opacity:0.5;
}
